{
    "printWidth": 140,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 4,
    "semicolons": true,
    "bracketSpacing": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
