<div class="cards-content">
    <mat-card>
        <mat-card-content>
            <h2 class="card-title">Команда</h2>
            <div *ngFor="let teamMember of allTeamMembers">
                <mat-checkbox [(ngModel)]="checked[teamMember]" [checked]="true" color="primary">
                    {{ teamMember }}
                </mat-checkbox>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content class="current-roles">
            <h2 class="card-title">Текущие роли:</h2>

            <mat-form-field *ngFor="let role of roles">
                <mat-select [placeholder]="role" (selectionChange)="onSelectChange($event, role)">
                    <mat-option *ngFor="let teamMember of getTeamMembersForRole(role)" [value]="teamMember">
                        {{ teamMember }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <h2 class="card-title">Выбранные роли:</h2>
            <ng-container *ngFor="let chosenRole of chosenRoles">
                <div class="chosen-role">
                    <div class="role-name"><b>{{ chosenRole.role }}:</b></div>
                    <div>{{ chosenRole.teamMember }}</div>
                </div>
            </ng-container>

            <button (click)="sendToSlack()" *ngIf="chosenRoles && chosenRoles.length && !!slackToken && !!slackChannel" mat-button color="primary">
                Отправить в Slack
                <mat-icon>send</mat-icon>
            </button>
        </mat-card-content>
    </mat-card>
</div>

<div class="button-container">
    <button (click)="randomize()" [disabled]="randomInProgress" class="app-button" mat-raised-button color="primary">
        Выбрать новые роли
    </button>
</div>