@import 'angular-material-demo-theme.scss';

body {
  margin: 0;
}

mat-tab-header {
  border-bottom: 0 !important;
}

.mat-mini-fab .mat-button-wrapper {
  padding: 0 !important;
}

.mat-flat-button {
  min-width: unset !important;
  line-height: unset !important;
}